In [1]:
from datetime import date, datetime, timedelta

In [2]:
import csv

In [3]:
var = list()
temp1 = datetime.strptime('2018-09-01', '%Y-%m-%d').date()
for i in range(30):
    var.append(temp1.strftime('%Y-%m-%d'))
    temp1 = temp1 + timedelta(1)

In [4]:
var[0]

'2018-09-01'

In [6]:
import pandas as pd
v = open('result.csv', 'w')
w = csv.writer(v)
w.writerow(['priceDate'])
for i in range(len(var)):
    w.writerow([var[i]])

data = pd.read_csv('result.csv')
data.head()

    priceDate
0  2018-09-01
1  2018-09-02
2  2018-09-03
3  2018-09-04
4  2018-09-05